<!DOCTYPE html>
<html ng-app="fileApp" ng-controller="mainCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container" ng-controller="fileCtrl">
		<br />
		<input class="form-control" id="searchInput" ng-model='searchText' type="text" placeholder="Report search..">
		<br />
		<uib-accordion>
			<div ng-repeat="fileDatum in fData | filter: { date: searchText }">
				<div uib-accordion-group class="panel-default" is-open="status.open">
					<uib-accordion-heading>
						{{ fileDatum.reportDate | date }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</uib-accordion-heading>
					<table class="table">
						<thead>
							<tr>
								<td><strong>{{ fileDatum.reportDate | date }} - Report</strong></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="file in fileDatum.files">
								<td>
									<button class="btn btn-link" ng-click="openFile(fileDatum, file)">
										<span class="glyphicon glyphicon-eye-open"></span>
									</button>
									<button type="submit" class="btn btn-link" ng-click="saveFile(fileDatum, file)">
										<span class="glyphicon glyphicon-save-file"></span>
									</button>
									<button type="submit" class="btn btn-link">
										{{ serverPath(fileDatum, file) }}
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</uib-accordion>
		<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" boundary-link-numbers="true" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" num-pages="numPages" ng-change="pageChanged()"></ul>
		<pre>Page: {{currentPage}} / {{numPages}} | Total Reports: {{totalItems}}</pre>
	</div>
	<script type="text/javascript" src="Scripts/src/app/fileApp.js"></script>
</body>
</html>